:root{
--cor-primaria: black;
--cor-secundaria: gray;
--cor-fundo: #f0f2f5;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--cor-fundo)
}


.login-form {
  background-color: white;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  box-sizing: border-box;
}


.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}


.login-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #555;
}


.login-form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}

.containerRodapeLogin{
  margin: 10px;
}

.containerRodapeLogin a{
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.containerRodapeLogin a:hover{
  color: #0056b3;
}

